<!DOCTYPE html>

<html>

<head>

  <title>bienvenue sur le site de venansol</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block javascript %}
  <script src="{{ asset ("JS/index.js") }}";></script>
   {% endblock %}
    {% block stylesheet  %}
  <link rel="stylesheet" type="text/css" href="{{asset ("CSS/cssvenansol/venansol.css") }}">
 {% endblock %}
  <script type="text/javascript" src="JS/venansol.js"></script>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top"  >

  <div class="container-fluid">

    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>                        

      </button>

	<a class="navbar-brand" href="#">
	  <img src="{{ asset ('img/logobar.png') }}" alt="Example" width="150px" />



      </a>
    </div>

    <div>

      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav navbar-right">

          <li><a href="#accueil">accueil</a></li>              

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#section">cours</a>

            <ul class="dropdown-menu">

              <li ><a href="#coursindividuelle">cours individuel</a></li>

              <li><a href="#courscollectif">cours collectif</a></li>
              <li><a href="#section3">atelier</a></li>    

            </ul>          

          <li><a href="#partenaire">le bureau</a></li>

          <li><a href="{{path('prof')}}">l'école</a></li>

          <li><a href="#section42">partenaire</a></li>

          <li><a href="#section42">contact</a></li>

          <!-- <li><a href="form.html">inscription</a></li> -->


        </ul>

      </div>

    </div>

  </div>

</nav>    



<div id="accueil" class="container-fluid">

  <div class="row">

  <div class="col-sm-6">

      <h1>note du bureau</h1>

<h3>le nouveau site de venan'sol vous accueille pour l'année 2017-2018 <br>
retrouvez toutes les informations de l'école  sur notre page Facebook
</h3>
      <a href="https://www.facebook.com/ecoleVenansol/"><img src="{{ asset ("img/facebook.svg")  }}" width="100px"></a>
  </div>

  <div class="col-sm-6" >

      <h1>bienvenue sur le site de venansol</h1>

  <img class="brand" src="{{ asset ('img/logo.gif')}}" width="350px">

  </div>

</div>


</div>
<div id="coursindividuelle" class="container-fluid">

  <div class="row">

  <div class="col-sm-6" >

      <h1>cours individuel</h1>

<p> Instruments et chant: les cours  proposés sont  hebdomadaires, d’une durée de
    30 min. (30 cours /an)
    L'école  vous propose des cours de
    guitare,piano, saxophone , batterie et chant aux enfants
    comme aux adultes et
    ils sont adaptés en fonction du niveau de chacun, du débutant à l'expert.
    <br> un travail direct avec le professeur favorisant l'écoute  et l'autonomie</P>

  </div>

  <div class="col-sm-6" >

     
<div id="myCarousel" class="carousel slide" data-ride="carousel" height="3333" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ asset ('img/photo.jpg')}}" alt="Los Angeles" >
    </div>

<!--    <div class="item">
      <img src="{{ asset ('img/photo2.jpg')}}" alt="Chicago" >
    </div>

    <div class="item">
      <img src="{{ asset ('img/saxo.jpg')}}" alt="New York" >
    </div>
      <div class="item">
          <img src="{{ asset ('img/piano.jpg')}}" alt="New York" >
      </div> -->
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  
  </div>

  </div>

</div>



<div id="courscollectif" class="container-fluid">

<div class="row">

  <div class="col-sm-6">


      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <div class="item active">
                  <img src="{{ asset ('img/chant.jpg')}}" alt="Los Angeles">
              </div>
<!--
              <div class="item">
                  <img src="{{ asset ('img/venansol1.jpg')}}" alt="Chicago">
              </div>
-->
              <div class="item">
                  <img src="{{ asset ('img/enfant.jfif')}}" alt="New York">
              </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>

  <div class="col-sm-6" >

      <h1>les cours collectif</h1>

      <p>   <strong>Formation musicale</strong> : obligatoire la première année de l’instrument
    Les cours sont collectifs, hebdomadaires, d’une durée de 35 min. (20 cours /an) pour apprivoiser sereinement votre instrument </P>

      <p>   <strong>L'éveil musical</strong>  se fait par petits groupes hebdomadaires, d’une durée de 35 min,
          ce qui permet une écoute et un suivi individualisés. Le rythme de chaque enfant est ainsi respecté
          et permet de s'approprier la musique à leur rythme. </P>

      <p>      <strong>Ensemble Vocal</strong> : Propisce à l'entraide et la bonne ambiance
          il se réunit 1 fois par semaine pour une durée de 1h pour les
          jeunes, 1h30 pour les adultes (30 cours /an)
      </p>


  </div>
  


  </div>

  </div>

<div id="section3" class="container-fluid">

<div class="row">

  <div class="col-sm-6" >

      <h1>atelier</h1>

<p>
        Les ateliers (musique actuelle, soul and jazz, percussions) se réunissent tous les 15
    jours (15 séances / an)

    Jouez dans un groupe encadré par des musiciens professionnels. Choisissez votre répertoire.

    Rigueur individuelle et plaisir collectif pour une expression musicale épanouissante !

    Ouvert à tous types d'instruments et chanteurs/euses. </p>

  </div>

  <div class="col-sm-6">
      <img src="{{ asset ('img/photo1.jpg')}}" alt="New York" width="500px">
  </div>
  </div>
</div>
<div id="partenaire" class="container-fluid">

 <h1>le bureau</h1>

 <div class="row">

       <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item hidden ">

           <div class="card h-100">

             <a href="#"><img class="card-img-top" src="{{ asset ('img/bureaut.jpg')}}"  width="200px"alt=""></a>

             <div class="card-body">

               <h4 class="card-title">

                <h2>Lorem Ipsum</h2>

               </h4>

               <p class="card-text">, illum tempora ex quae? Nihil, dolorem!</p>
                    <p class="card-block" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit
                    </p>
             </div>

           </div>

         </div>
       <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item ">

           <div class="card h-100">

             <a href="#"><img class="card-img-top" src="{{ asset ('img/bureau2.jpg')}}"  width="200px"alt=""></a>

             <div class="card-body">

               <h4 class="card-title">

                <h2>véronique barré</h2>

               </h4>

               <p class="card-text"></p>
                    <p class="card-block" >
                    la présidente de l'association venansol</p>
             </div>

           </div>

         </div>
       <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item ">

           <div class="card h-100">

             <a href="#"><img class="card-img-top" src="{{ asset ('img/bureau.jpg')}}"  width="200px"alt=""></a>

             <div class="card-body">

               <h4 class="card-title">

                <h2>Anne-marie Zouré </h2>

               </h4>

               <p class="card-text"></p>
                    <p class="card-block" >
                  la secretaire de l'association   </p>
             </div>

           </div>

         </div>
       <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item ">

           <div class="card h-100">

             <a href="#"><img class="card-img-top" src="{{ asset ('img/bureau1.jpg')}}"  width="200px"alt=""></a>

             <div class="card-body">

               <h4 class="card-title">

                <h2>Véronique Bouquin</h2>

               </h4>

               <p class="card-text"></p>
                    <p class="card-block" >
                    trésoriere de l'association </p>
             </div>

           </div>

         </div>



</div>

</div>

<div id="section42" class="container-fluid">

  <h1>partenaire</h1>
    <p>                                         </p>
    <a href="https://www.ancv.com/"><img src="{{  asset ("img/ancv.png")}}"></a>
    <a href="http://www.venansault.com/" > <img src="{{  asset ("img/venansault.svg")}}" width="300px" > </a>
    <a href="http://www.vendee.fr/"> <img src="{{  asset ("img/vende.png")}}" height="200px" border-raduis="0px"></a>

</div>



<div id="contact" class="container-fluid">

<div class="row">

  <div class="col-sm-6">


  <h1>contact</h1>
      <h2> Présidente

 Mme Véronique BARRÉ
          <br>
      3 la Gaubergère

      85190 VENANSAULT
          <br>
      courriel : ecole.venansol@gmail.com
      </h2>
  </div>


  <div class="col-sm-6" >

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2737.040559535974!2d-1.515199884401229!3d46.685200479134366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480430c3d025e367%3A0xb30b99e73b7ffec6!2sMairie!5e0!3m2!1sfr!2sfr!4v1503292094616" 
 
 width="500" height="270" frameborder="1" style="border:0 ;border-radius:15px" allowfullscreen></iframe>

  </div>

  </div>

   </div>





</body>

</html>
